<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dashboard</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Tableau de Bord</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <div class="card border-primary">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Faire une Réservation</h5>
                                        <p class="card-text">Rechercher des voyages disponibles</p>
                                        <a th:href="@{/busvoyage/search}" class="btn btn-primary">Rechercher Voyage</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-lg-3">
                                <div class="card border-success">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Liste Réservations</h5>
                                        <p class="card-text">Consulter et gérer les réservations</p>
                                        <a th:href="@{/reservation/list}" class="btn btn-success">Voir Réservations</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-lg-3">
                                <div class="card border-info">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Gestion Bus</h5>
                                        <p class="card-text">Gérer les bus et configurations</p>
                                        <a href="#" class="btn btn-info disabled">Bientôt disponible</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>